This workbook is solely for the purpose of demonstrating my ability and is not meant in any way to undermine the work done by the staff on coursera. Parts of the code are missing or modified to prevent copying of this code for other students who take the same course later.

In [ ]:
%load_ext sql
%sql ibm_db_sa://user:password%2B4f04b1@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB

Find the total number of crimes recorded in the CRIME table.

In [ ]:
%sql select count(CASE_NUMBER) from CHICAGO_CRIME

How many crimes involve an arrest?

In [ ]:
%sql select count(arrest) from CHICAGO_CRIME where arrest='TRUE'

Which unique types of crimes have been recorded at Gas Station locations?

In [ ]:
%sql select DISTINCT(PRIMARY_TYPE) from CHICAGO_CRIME where LOCATION_DESCRIPTION='GAS STATION'

In the Census, list all community areas whose names start with the letter 'B'

In [ ]:
%sql select * from CHICAGO_CENSUS where COMMUNITY_AREA_NAME like 'B%'

Which schools in the community areas 10 to 15 are healthy school certified?

In [ ]:
%sql select NAME_OF_SCHOOL from CHICAGO_SCHOOLS where HEALTHY_SCHOOL_CERTIFIED='Yes' and COMMUNITY_AREA_NUMBER between 10 and 15

What is the average school Safety Score?

In [ ]:
%sql select avg(SAFETY_SCORE) from CHICAGO_SCHOOLS

List the top 5 Community Areas by average College Enrollment.

In [ ]:
%sql select COMMUNITY_AREA_NAME, avg(COLLEGE_ENROLLMENT) as AVG_ENROLLMENT from CHICAGO_SCHOOLS group by COMMUNITY_AREA_NAME order by AVG_ENROLLMENT desc fetch first 5 rows only

Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [ ]:
%sql select COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER, SAFETY_SCORE from CHICAGO_SCHOOLS where SAFETY_SCORE=(select min(SAFETY_SCORE) from CHICAGO_SCHOOLS)

[Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [ ]:
%sql select PER_CAPITA_INCOME, COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER from CHICAGO_CENSUS where COMMUNITY_AREA_NUMBER=(select COMMUNITY_AREA_NUMBER from CHICAGO_SCHOOLS where SAFETY_SCORE=1)